
body {
  font-family: livvic;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  display: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/* HEADER */
#home-hero {
  padding-top: 30px;
  background: #014E56;
  position: relative;
  height: 100vh;
  background-image: url(../img/hero-left-bg.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.header__nav {
  position: relative;
  left: -250px;
}

.nav__list-item {
  margin-right: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.nav__list-item:hover {
  color: #F67E7E;
}

.nav__list-item:active {
  color: #f67e7ecb;
}

.btn {
  padding: 10px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background: #fff;
  color: #014E56;
}

.btn:active {
  opacity: 0.7;
}

/* /HEADER */


/* HERO */
.hero__wrap {
  padding-top: 100px;
  position: relative;
}

.hero__title {
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: #fff;
}

.hero__title span {
  color: #F67E7E;
}

.hero__paragraph {
  padding-top: 150px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.hero__paragraph::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 200px;
  width: 50px;
  height: 4px;
  background: #79C8C7;
}

.hero__background {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 100px;
  transform: translateX(-50%);
  background-image: url(../img/hero-bottom-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
/* /HERO */


/* BUILD */
#build {
  padding-top: 200px;
  padding-bottom: 130px;
  background: #012F34;
  position: relative;
  background-image: url(../img/build-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.build__title::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 140px;
  width: 50px;
  height: 4px;
  background: #F67E7E;
}

.desc__item {
  position: relative;
}

.desc__item::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -100px;
  width: 72px;
  height: 72px;
}

.desc__item:nth-child(1)::before {
  background-image: url(../img/build1.svg);
}
.desc__item:nth-child(2)::before {
  background-image: url(../img/build2.svg);
}
.desc__item:nth-child(3)::before {
  background-image: url(../img/build3.svg);
}

.build__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}

.desc__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

.desc-paragraph {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.8;
}
/* /BUILD */


/* STORY */
#story {
  padding-top: 140px;
  margin-top: -20px;
  height: 700px;
  background: #004047;
  color: #fff;
  background-image: url(../img/story-bottom-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.story__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}

.story__title span {
  color: #79C8C7;
}

.story__cards {
  margin-top: 92px;
}

.card__paragraph {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  z-index: 10;
}

.card__paragraph::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 78px;
  transform: translateX(-50%);
  width: 67px;
  height: 56px;
  z-index: -1;
  background-image: url(../img/quotes.svg);
}

.card__name {
  margin-top: 24px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #79C8C7;
}

.card__prof {
  position: relative;
  margin-top: 2px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.card__prof:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 62px;
  height: 62px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
}

.story__card:nth-child(1) .card__prof::after {
  background-image: url(../img/person1.png);
}
.story__card:nth-child(2) .card__prof::after {
  background-image: url(../img/person2.png);
}
.story__card:nth-child(3) .card__prof::after {
  background-image: url(../img/person3.png);
}
/* /STORY */


/* START */
#start {
  height: 200px;
  background: #F67E7E;
  background-image: url(../img/start-bg.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.start__title {
  padding-top: 10px;
  font-weight: bold;
  font-size: 48px;
  line-height: 100px; 
  color: #012F34;
}

.start__btn-wrap {
  margin-top: 20px;
}

.start__btn {
  border-color: #014E56;
  color: #014E56;
}

.start__btn:hover {
  background: #014E56;
  color: #fff;
}
/* /START */


/* FOOTER */
#site-footer {
  padding-top: 48px;
  padding-bottom: 30px;
  background: #002529;
}

.footer__logo-link {
  display: inline-block;
  margin-right: 40px;
  margin-top: 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.footer__logo-link:hover,
.footer__social:hover {
  color: #F67E7E;
}

.footer__logo-link:active,
.footer__social:active {
  color: #f67e7ec0;
}


.footer__address {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer__address-col {
  position: relative;
  left: -140px;
}

.footer__social {
  position: relative;
  right: -90px;
  color: #fff;
  font-size: 25px;
  margin-left: 16px;
  transition: all 0.2s ease-in-out;
}

.footer__copyright {
  margin-top: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  text-align: right;
  mix-blend-mode: normal;
  opacity: 0.6;
}
/* /FOOTER */


/* ABOUT PAGE ================================================ */

/* HERO SECTION */
#about-hero {
  padding-top: 30px;
  background: #014E56;
  position: relative;
  background-image: url(../img/about-hero__bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about-hero__inner {
  padding-bottom: 110px;
}

.about-hero__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
}

.about-hero__p {
  padding-top: 70px;
}

.about-hero__p::before {
  top: 130px;
  background: #F67E7E;
}
/* /HERO SECTION */


/* DIRECTORS SECTION*/
#directors {
  padding: 40px 0;
  padding-bottom: 168px;
  background: #004047;
  position: relative;
  background-image: url(../img/dir__right-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.directors__left-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.directors__title {
  margin-top: 80px;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}

.directors__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 76px;
}

.directors__card {
  position: relative;
  padding-top: 32px;
  width: 350px;
  height: 233px;
  background: #012F34;
}

.card__plus-btn {
  display: inline-block;
  width: 56px;
  height: 56px;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  top: 17px;
  text-align: center;
  background: #F67E7E;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.card__plus-btn i {
  position: relative;
  top: 17px;
  transition: all 0.2s ease-in-out;
}

.card__name {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
}

.card__position {
  margin-top: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}

.card__hover{
  padding-top: 35px;
  position: absolute;
  top: 0;
  width: 350px;
  height: 230px;
  background: #002529;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.card:hover .card__hover {
  opacity: 1;
}
.card:hover .card__plus-btn {
  background: #79C8C7;
}
.card:hover .card__plus-btn i {
  transform: rotate(45deg);
}


.card__hover-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
}

.card__hover-quote {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}

.card__link {
  color: #fff;
  font-size: 32px;
}

.bxl-linkedin-square {
  margin-left: 16px;
  margin-right: 35px;
}
/* /DIRECTORS SECTION*/


/* CLIENTS SECTION */
#clients {
  padding: 140px  0;
  background: #012F34;
  background-image: url(../img/clients-bg.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

.clients__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}

.clients__list-item i {
  position: relative;
  left: -20px;
  margin: 0 40px;
  font-size: 64px;
  color: #fff;
}
/* /CLIENTS SECTION */



/* RESPONSIVENESS ========================================== */

@media (max-width: 768px) {

  .header__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__nav {
    margin-right: -310px;
  }

  .header__btn-wrap {
    margin-right: 20px;
  }

  .container {
    width: 748px;
    margin: 0 auto;
  }

  .about-hero__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-hero__title {
    margin-bottom: 0;
  }

  .about-hero__p {
    padding-top: 0;
    width: 457px;
    text-align: center;
  }

  .about-hero__p::before {
    display: none;
  }

  .directors__cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    justify-items: center;
  }

  #clients {
    padding: 100px 0;
    background-position: 0 -100px; 
  }

  .clients__title {
    margin-bottom: 52px;
  }
  
  .section-title {
    font-size: 32px;
    line-height: 32px;
  }

  .clients__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  #start {
    background-position: 0 80px;
  }

  .start__wrap {
    padding-top: 50px;
  }
}

@media (max-width: 576px) {

  .header__nav {
    display: none;
  }

  .header__btn-wrap {
    margin-right: 0;
  }

  .container {
    width: 80%;
  }

  .directors__cards {
    grid-template-columns: 1fr;
  }

  .card {
    margin-bottom: 50px;
  }

  .clients__list {
    grid-template-columns: 1fr;
  }

  .footer__wrap {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .footer_logo-links {
    text-align: center;
  }

  .footer__address {
    margin: 20px 0;
    margin-right: -280px;
  }
}